<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296991763291-irhr9o632pch9ujr1q4o3m764qtulk1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296991763291-irhr9o632pch9ujr1q4o3m764qtulk1c</string>
	<key>API_KEY</key>
	<string>AIzaSyBVvCg-gpQz3ITljNcB0kkI_MtfQEl7yO4</string>
	<key>GCM_SENDER_ID</key>
	<string>296991763291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-d1f89</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-d1f89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296991763291:ios:48eca54c04cde3a683c87e</string>
</dict>
</plist>